In [1]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [25]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
import datetime as dt

june_results = []
june_results = session.query(Measurement.date, Measurement.tobs).filter(func.strftime("%m", Measurement.date) == "06").all()


#filter(func.strftime("%m", Dow.date) == "05")
#df = pd.DataFrame(june_results, columns=['date','June Temps'])

In [22]:
#  3. Convert the June temperatures to a list.
#  June temperates are created as a list in step 2 of this process.

In [26]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temp_df= pd.DataFrame(june_results, columns=['date','June Temps'])
june_temp_df.set_index(june_temp_df['date'], inplace=True)
june_temp_df = june_temp_df.sort_index()

In [27]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temp_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [28]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

december_results = []
december_results = session.query(Measurement.date, Measurement.tobs).filter(func.strftime("%m", Measurement.date) == "12").all()

In [9]:
# 7. Convert the December temperatures to a list.
#  December temperates are created as a list in step 6 of this process.

In [29]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 

december_temp_df= pd.DataFrame(december_results, columns=['date','June Temps'])
december_temp_df.set_index(december_temp_df['date'], inplace=True)
december_temp_df = december_temp_df.sort_index()

In [30]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.

december_temp_df.describe()

        June Temps
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000